/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('montserrat/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('montserrat/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('montserrat/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('montserrat/montserrat-v14-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
       url('montserrat/montserrat-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat/montserrat-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('montserrat/montserrat-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('montserrat/montserrat-v14-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
       url('montserrat/montserrat-v14-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('montserrat/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('montserrat/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('montserrat/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('montserrat/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('montserrat/montserrat-v14-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
       url('montserrat/montserrat-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('montserrat/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('montserrat/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('montserrat/montserrat-v14-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
       url('montserrat/montserrat-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('montserrat/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('montserrat/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('montserrat/montserrat-v14-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
       url('montserrat/montserrat-v14-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat/montserrat-v14-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat/montserrat-v14-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('montserrat/montserrat-v14-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('montserrat/montserrat-v14-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}













/* prompt-300 - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: url('prompt/prompt-v4-thai-300.eot'); /* IE9 Compat Modes */
  src: local('Prompt Light'), local('Prompt-Light'),
       url('prompt/prompt-v4-thai-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-300.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-300.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-300italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 300;
  src: url('prompt/prompt-v4-thai-300italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt Light Italic'), local('Prompt-LightItalic'),
       url('prompt/prompt-v4-thai-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-300italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-300italic.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-regular - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('prompt/prompt-v4-thai-regular.eot'); /* IE9 Compat Modes */
  src: local('Prompt'), local('Prompt-Regular'),
       url('prompt/prompt-v4-thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-regular.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-regular.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 400;
  src: url('prompt/prompt-v4-thai-italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt Italic'), local('Prompt-Italic'),
       url('prompt/prompt-v4-thai-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-italic.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-500 - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: url('prompt/prompt-v4-thai-500.eot'); /* IE9 Compat Modes */
  src: local('Prompt Medium'), local('Prompt-Medium'),
       url('prompt/prompt-v4-thai-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-500.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-500.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-500italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 500;
  src: url('prompt/prompt-v4-thai-500italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt Medium Italic'), local('Prompt-MediumItalic'),
       url('prompt/prompt-v4-thai-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-500italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-500italic.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-600 - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: url('prompt/prompt-v4-thai-600.eot'); /* IE9 Compat Modes */
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
       url('prompt/prompt-v4-thai-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-600.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-600.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-600italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 600;
  src: url('prompt/prompt-v4-thai-600italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt SemiBold Italic'), local('Prompt-SemiBoldItalic'),
       url('prompt/prompt-v4-thai-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-600italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-600italic.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-700 - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: url('prompt/prompt-v4-thai-700.eot'); /* IE9 Compat Modes */
  src: local('Prompt Bold'), local('Prompt-Bold'),
       url('prompt/prompt-v4-thai-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-700.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-700.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-700italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 700;
  src: url('prompt/prompt-v4-thai-700italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt Bold Italic'), local('Prompt-BoldItalic'),
       url('prompt/prompt-v4-thai-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-700italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-700italic.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-800 - thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 800;
  src: url('prompt/prompt-v4-thai-800.eot'); /* IE9 Compat Modes */
  src: local('Prompt ExtraBold'), local('Prompt-ExtraBold'),
       url('prompt/prompt-v4-thai-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-800.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-800.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-800italic - thai */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 800;
  src: url('prompt/prompt-v4-thai-800italic.eot'); /* IE9 Compat Modes */
  src: local('Prompt ExtraBold Italic'), local('Prompt-ExtraBoldItalic'),
       url('prompt/prompt-v4-thai-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('prompt/prompt-v4-thai-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('prompt/prompt-v4-thai-800italic.woff') format('woff'), /* Modern Browsers */
       url('prompt/prompt-v4-thai-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('prompt/prompt-v4-thai-800italic.svg#Prompt') format('svg'); /* Legacy iOS */
}