// Responsive ratio
//Use  @include responsive-ratio(16,9); 
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// Placeholders
// Use 
// @include input-placeholder {
//     color: $grey;
// }
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// Media queries
// Use
// @include mq('tablet-wide') {
//     padding-top: 4rem;
//     font-size: 2.4rem;
// }
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media (#{$type}-width: $width) {
            @content;
        }
    }
}

//Z-index
//Use
// z-index: z('site-header');
@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

//No First-child and Last-child hide border
@include add-policy(hide-border-top-bottom) {
    &:first-child {
        border-top-color: transparent;
    } 
    &:last-child {
        border-bottom-color: transparent;
    }
}
  
//Border radius default = 6px in var is $border-rounded-border-radius
// $bRadius: ("top-left", "top-right", "bottom-right", "bottom-left");
@mixin TiscoRadius($position, $hidden:true){
    @if index($bRadius, $position) {
        $position: index($bRadius, $position);
        @if $position == 1 {
            border-top-left-radius: $border-rounded-border-radius;
        }@else if $position == 2 {
            border-top-right-radius: $border-rounded-border-radius;
        }@else if $position == 3 {
            border-bottom-right-radius: $border-rounded-border-radius;
        }@else if $position == 4 {
            border-bottom-left-radius: $border-rounded-border-radius;
        }@else{
            @warn "Unknown position `#{$position}` of variable $bRadius in _var.scss file.";
        }
    }
    @if (not $hidden){
        overflow: hidden;
    }
}
//prefix
@mixin prefix($property, $value, $prefixes: ()) { 
    @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: $value;
    }
  
    #{$property}: $value;
   }
@function empty($value) {
    @if not $value 
        or $value == "" 
        or $value == 0
        or $value == ()
        or length($value) == 0 {
      @return null;
    }
    @return $value;
  }

@mixin center-both($tisco-rotate...) { 
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%) empty($tisco-rotate), 'webkit' 'ms');
 }