$csstyle-root-id : 'everyday';
$base-z-index-modal : 1050!default;
$img-path : '../img'!default; 
$redius-golbal: 30px !default;

//Breakpoints
$media-width-320: 344px !default;
$media-width-480: 480px !default;
$media-width-576: 576px !default;
$media-width-640: 640px !default;
$media-width-768: 768px !default;
$media-width-960: 960px !default;
$media-width-1024: 1024px !default;
$media-width-1200: 1200px !default;
$media-width-1400: 1400px !default;
$media-width-1600: 1600px !default;

$breakpoints: (
    'phone': $media-width-320,
    'phone-wide': $media-width-480,
    'phablet': $media-width-576,
    'tablet-small': $media-width-640,
    'tablet': $media-width-768,
    'tablet-wide': $media-width-960,
    'desktop': $media-width-1200,
    'desktop-wide': $media-width-1400,
    'desktop-large': $media-width-1600
);