// ========================================================================
//    Include Mixin, csstyle.io for the web
// ========================================================================
@import './include';

//.chat-overlay .vid-Btn-wrapper
@include component(modal){
    &.fade, &.show {
        .modal-dialog{
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
            -webkit-transform: none;
            transform: none;
            .modal-content{
                background: none;
            }
        }
    }    
}    
@include component(modal-backdrop){
    &.show{
        opacity: 0.8;
    }
}   
@include component(video-tutorial){
    .chat-overlay{
        z-index: 99;
    }
}
@include component(showstep){
    &.vid-header, &.list-video, &.checkAnwser{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            @include size(100%);
            display: block;
            top: 0;
            left: 0;
            z-index: $base-z-index-modal - 1;
        }
    }
    .btn-download-sheet, .owl-carousel, .vid-Btn-checkAnwser{
        position: relative;
        z-index: $base-z-index-modal - 2;
    }
}
@include component(tutorial-step){
    $min-max-width : 245px;
    background-color: transparent;
    font-family: 'Prompt', tahoma, sans-serif, serif;
    font-weight: 300;
    text-align: center;
    max-width: $min-max-width;
    min-width: $min-max-width;    
    &::before, &::after{
        content: '';
        position: absolute;
        display: block;
        background: url(#{$img-path}/tutorial/arrow.png); 
        background: url(#{$img-path}/tutorial/arrow.svg), linear-gradient(transparent, transparent); 
        background-repeat: no-repeat; 
        background-position: 50%; 
        background-size: 100%;
    }
    //For Start Plan
    &.tour-start-plan{
        &.bottom{
            padding-top: 60px;
            &::before{
                top: 0;
                left: 50%;
                transform: translateX(-50%) rotate(-150deg);
                height: 60px;
                width: 25%;
            }
            &::after{
                display: none;
            }
        }
        &.top{
            padding-bottom: 60px;
            &::before{
                display: none;
            }
            &::after{
                bottom: 0;
                left: 50%;
                height: 60px;
                width: 25%;                
                transform: translateX(-50%) rotate(-320deg) scaleY(1);
            }
            &#step-1{
                &::after{
                    transform: translateX(-50%) rotate(-264deg) scaleY(-2);
                }
            }            
        }
    }    
    //For Video and For Guest Video  
    &.tour-video-tutor, &.tour-guest-video-tutor{
        &.top{
            padding-bottom: 60px;
            &::before{
                display: none;
            }
            &::after{
                bottom: 30px;
                left: 50%;
                height: 30px;
                width: 22%;                
                transform: translateX(-50%) rotate(-290deg) scaleY(2);
            }
            &#step-1{
                &::after{
                    transform: translateX(-50%) rotate(-264deg) scaleY(-2);
                }
            } 
            &#step-4{
                &::after{
                    bottom: 18px;
                }
            }                        
        }
        &.left{
            &::after{
                top: 0;
                right: -26%;
                transform: rotate(50deg) scaleY(-2);
                height: 60px;
                width: 25%;
            }
            &::before{
                display: none;
            }
        }
    } 
    //For myEveryday
    &.tour-start-myEveryDay{
        &.bottom{
            padding-top: 60px;
            &::before{
                top: 0;
                left: 50%;
                transform: translateX(-50%) rotate(-100deg) scaleY(2);
                height: 60px;
                width: 25%;
            }
            &::after{
                display: none;
            }
        }
        &.top{
            padding-bottom: 60px;
            &::before{
                display: none;
            }
            &::after{
                bottom: 0;
                left: 50%;
                height: 67px;
                width: 25%;                
                transform: translateX(-50%) rotate(-297deg) scaleY(2);
            }
            &#step-1{
                &::after{
                    transform: translateX(-50%) rotate(-271deg) scaleY(2);
                }
            }            
        }        
    }
    //For Guest
    &.tour-guest-video-tutor{
        &.top{
            &#step-1{
                &::after{
                    bottom: 18px;
                    transform: translateX(-50%) rotate(70deg) scaleY(2);
                }
            }            
        }         
    }
    //---------------------      
    &.popover[class*="tour-"] {
        border: 0;
        z-index: 1102;
        & .popover-navigation {
            padding: 9px 14px;
            overflow: hidden;
            & *[data-role="end"] {
                float: right;
            }
            & *{
                &[data-role="prev"], &[data-role="next"], &[data-role="end"] {
                    cursor: pointer;
                    &.disabled {
                        cursor: default;
                    }
                }
            }
        }
        &.orphan {
            position: fixed;
            margin-top: 0;
            .arrow {
                display: none;
            }
        }        
    }
    &.fade.in {
        opacity: 1;
    }    
    .btn{
        font-weight: 300;
        border-radius: $redius-golbal;
        border-color: transparent;
        padding: 8px 16px;
        background: rgba(white,0.2);
        color: white;
        position: relative;
        z-index: 0;
        min-width: 85px;
        &::before, &::after{
            content: '';
            position: absolute;
            border-radius: $redius-golbal;
        }
        &::before{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            background: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
            -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        &::after{
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;            
            background-color: black;     
            border: 3px solid transparent;
            z-index: -1;
        }        
        &.btn-skip{
            color: white;
            &::before{
                opacity: 0.5;
            }
            &::after{
                background-color: black;                  
            }
        }
    }
}
.popover-content{
    font-size: 18px;
}
.tour-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: rgba(black, 0.8);
}
.tour-step-backdrop {
    position: relative;
    z-index: 1101;
    & > td{
        position: relative;
        z-index: 1101;
    }
}
.tour-step-background {
    position: absolute !important;
    z-index: 1102;
    background: transparent;
}
