html,
body {height: 100%; font-family: 'Prompt', tahoma, sans-serif, serif;}
body{margin: 0; background: #F7F7F7 0% 0% no-repeat padding-box;}
p {margin-top: 0;margin-bottom: 0;}
button{border: none;}
.fonts_th{font-family: 'Prompt', tahoma, sans-serif, serif;}
#header{max-width: 1920px; height: 100px; margin: 0 auto; background-color: #000;width: 100%; display: table; border-bottom: solid 1px #707070; /*padding: 0 100px;*/}
/*.logo{margin-left: 100px; color:#fff; display: table-cell; vertical-align: middle; width: 230px;}*/
.logo-monkey { width: 175px; }
.logo-career-promo { width: 10%; }
.m-menu-show{display: none !important;}
@media (max-width: 1065px) {
  .logo-monkey { width: 140px; }
  .sidenav.navShow{min-width: 50%;}
}
@media (max-width: 768px) {
  .m-menu-hide{display: none;}
  .m-menu-show{display: block !important;}
  .logo-monkey { width: 120px; }
  .sidenav.navShow{min-width: 100%;}
  .input-search{display: none;}
  .div-subscriber .col-md-4{padding-right: 7px; padding-left: 7px;}
  .helpBtn{bottom: 25px !important; right: 10px !important;}
}
#wrap {min-height: calc(100% - 100px);}
.clear{clear:both; line-height:0; height:0; font-size: 1px}
a {color: #000; text-decoration: none; background-color: transparent;}
a:hover{color: #000; text-decoration: none;}
#container{
  max-width: 1920px; margin: 0 auto; overflow: auto; position: relative;
  padding-bottom: 60px;
  /* must be same height as the footer */
}
.containner-1920{max-width: 1920px;}
.containner-1200{max-width: 1200px;}
.containner-1200-padding{padding-left: 20px; padding-right: 20px;}
.containner-padding{padding-left: 20px; padding-right: 20px;}
.whiteContentBox{background-color: #fff; border-radius: 20px; padding: 20px; margin: 60px 20px;}
.questionBox{background-color: #fff; border-radius: 20px; margin: 60px 20px;}
.T-Score-box{background-color: #fff; border-radius: 20px; margin: 60px 20px; text-align: center; padding: 50px 0;}
.T-Score-box .subBox{text-align: -webkit-center;}
@media (min-width: 500) {
  .containner-padding{padding-left: 20px; padding-right: 20px;}
  .whiteContentBox{padding: 40px; margin: 50px 40px;}
  .questionBox, .T-Score-box{margin: 60px 50px;}
}
@media (min-width: 768px) {
  .containner-padding{padding-left: 20px; padding-right: 20px;}
  .whiteContentBox{padding: 40px; margin: 50px 40px;}
  .questionBox, .T-Score-box{margin: 60px 50px;}
}
@media (min-width: 992px) {
  .containner-padding{padding-left: 20px; padding-right: 20px;}
  .whiteContentBox{padding: 80px; margin: 60px 80px;}
  .questionBox, .T-Score-box{margin: 60px 80px;}
}
@media (min-width: 1200px) {
  .containner-padding{padding-left: 40px; padding-right: 40px;}
  .whiteContentBox{padding: 60px; margin: 60px auto; width: 1200px;}
  .questionBox, .T-Score-box{margin: 60px 100px;}
}
@media (min-width: 1240px) {
  .containner-1200-padding{padding-left: 0px; padding-right: 0px;}
}
.mySection{max-width: 1920px; margin: 0 auto;}
#footer{
  position: relative; max-width: 1920px; 
  min-height: 60px; 
  /* negative value of footer height */
  margin: -60px auto 0px auto; 
  background-color: #000;  clear: both;
  border-top: solid 1px #707070;
  /*padding:0 100px;*/
}
.footer-box{display: table; width: 100%; height: 100%; color: #9B9B9B; font-weight: 100;}
#footer, #footer a{color: #9B9B9B;}
.footer-right{text-align: right;}
#cookie{display: table; position: sticky; margin: 0 auto; width:100%;max-width:1920px; min-height: 65px;bottom: 0;z-index: 999; background: transparent linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%) 0% 0% no-repeat padding-box;}
#cookie p{display: table-cell;vertical-align: middle; color:#000; font-weight: 400;}
#cookie button{float:right;margin-top:8px;border: none;display: table-cell;vertical-align: middle;width: 101px;height: 47px;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 10px;opacity: 1;}
.f35{font-size: 35px;}
.f30{font-size: 30px;}
.f26{font-size: 26px;}
.f24{font-size: 24px;}
.f22{font-size: 22px;}
.f20{font-size: 20px;}
.f18{font-size: 18px;}
.f16{font-size: 16px;}
.f14{font-size: 14px;}
.f12{font-size: 12px;}
.f-green{color: #008C50 !important;}
.f-red{color: #EC1C24 !important;}
.f-blue{color: #0075D0 !important;}
.f-white{color: #fff !important;}
.f-ccc{color: #ccc !important;}
.f-a9{color: #a9a9a9 !important;}
.f-gray{color: #495057 !important;}
.bg-black{background-color: #000; color: #fff;}
.bg-blue{background-color: #0075D0;}
.bg-white{background-color: #fff; color: #000;}
.bg-gray{background-color: #F0F0F0;}
.bg-gray-f7{background-color: #F7F7F7;}
.bg-gray-ef{background-color: #efefef;}
.align-center{text-align:center;}
.relative{position: relative;}
.left{float: left;}
.right{float: right;}
.t-right{text-align: right;}
.m-t-20{margin-top: 20px;}
.m-b-20{margin-bottom: 20px;}
.m-b-80{margin-bottom: 80px;}
.m-15{margin: 15px;}
.p-t-5{margin-top: 5px;}
.btn-home{width: 290px;}
.btn-60{width: 100%; height: 50px; border-radius: 35px; /*margin: 15px 30px 15px 0;*//*margin: 15px;*/ font-size: 18px; /*border: 1px solid #008C50;*/}
.btn-40{border-radius: 35px; font-size: 16px; padding: 7px 20px}
.btn-custom{border-radius: 35px; padding: 7px 20px}
.btn-green-white{background: #008C50; color: #fff; border: 1px solid #008C50;}
.btn-green-white:hover{box-shadow: #008C50 0px 0px 0px 2px;}
.btn-green-white:focus{box-shadow: #2cff50 0px 0px 0px 2px;}
.btn-white-green{background: #fff; color: #008C50; border: 1px solid #008C50;}
.btn-white-green:hover{box-shadow: #008C50 0px 0px 0px 2px;}
.btn-white-green:focus{background: #d5d5d5; box-shadow: #008C50 0px 0px 0px 2px;}
.btn-black{background: #000; color: #fff; border: 1px solid #000;}
.btn-black:hover{box-shadow: #000 0px 0px 0px 2px; color: #fff;}
.btn-black:focus{box-shadow: #d5d5d5 0px 0px 0px 2px; color: #fff;}
.btn-white{background-color: #fff; color: #000; border: 1px solid #000;}
.btn-white:hover{box-shadow: #000 0px 0px 0px 2px;}
.btn-white:focus{background-color: #d5d5d5; box-shadow: #000 0px 0px 0px 2px;}
.btn-gray{background-color: #d5d5d5; color: #000; border: 1px solid #d5d5d5;}
.btn-gray:hover{box-shadow: #d5d5d5 0px 0px 0px 2px;}
.btn-gray:focus{box-shadow: #000 0px 0px 0px 2px;}
.btn-yellow{background-color: #FFB209; color: #000; border: 1px solid #FFB209;}
.btn-yellow:hover{box-shadow: #FFB209 0px 0px 0px 2px;}
.btn-yellow:focus{box-shadow: #000 0px 0px 0px 2px;}
.btn-white-yellow{background-color: #fff; color: #FFB209; border: 1px solid #FFB209;}
.btn-white-yellow:hover{box-shadow: #FFB209 0px 0px 0px 2px;}
.btn-white-yellow:focus{box-shadow: #FFB209 0px 0px 0px 2px;}
.btn-purple-yellow{background-color: #2b0840; color: #FFC43D; border: 1px solid #2b0840;}
.btn-purple-yellow:hover{box-shadow: #2b0840 0px 0px 0px 2px;}
.btn-purple-yellow:focus{box-shadow: #2b0840 0px 0px 0px 2px;}
.btn-yellow-purple{background-color: #FFC43D; color: #2b0840; border: 1px solid #FFC43D;}
.btn-yellow-purple:hover{box-shadow: #FFC43D 0px 0px 0px 2px;}
.btn-yellow-purple:focus{box-shadow: #FFC43D 0px 0px 0px 2px;}
.m-w-1100{max-width: 1100px;}
.m-w-1000{max-width: 1000px;}
.m-w-500{max-width: 500px;}
.m-w-400{max-width: 400px;}
.m-w-360{max-width: 360px;}
.m-w-300{max-width: 300px;}
.m-w-250{max-width: 250px;}
.m-w-200{max-width: 200px;}
.inl-block{display: inline-block;}
.center{text-align: center;}
.align-right{text-align: -webkit-right;}
.align-right{text-align: -moz-right;}
.bold{font-weight: bold;}
.f-w-600{font-weight: 600;}
.f-w-500{font-weight: 500;}
.dp-none{display:none;}
.midLine{text-decoration: line-through;}
/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}
.rainbow-text { background: transparent linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%) 0% 0% no-repeat padding-box; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.gradient-box {
  padding: 0;
  border: 0px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
.gradient-box-10 { 
  padding: 0;
  border: 0px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
.index-gradient-box { 
  padding: 0;
  border: 0px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
}
.full-gradient-box { 
  padding: 0;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
}
.r20-gradient-box { 
  border-radius: 20px;
  padding: 0;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(180deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
}
.circle-gradient-box { 
  border-radius: 50%;
  padding: 0;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
}
.border-0{border:0;}
/* Index page */
.header_img{height: 750px;  max-height: 750px; background-position: center center; background-repeat: no-repeat; display: table; width: 100%;}
.header_img_content{display: table-cell; vertical-align: middle; /*padding-left: 100px;*/}
.header_img_text{width: fit-content; font-weight: 700; font-size: 5.5rem; line-height: 1; word-break: break-all; /*margin-left: -5px;*/}
.header_img_detail{margin-top: 20px;}
.header_registerBtn{padding: 10px 30px; background-color: #000; width:fit-content; color: #fff; margin-top: 20px; cursor: pointer;}
.index-header-slide{/*width: 85%;*/ margin: 0px auto 0 auto;}
.index-header-slide h2{font-size: 30px; /*margin-left: 20px;*/}
.index-slide.slider {/*width: 85%;*/ margin: 25px auto 100px auto; height: fit-content;}
.mail{color: #fff;}
.mail:hover{color: #fff;}
@media (max-width: 768px) {
  .index-slide.slider {/*width: 75%;*/ margin: 25px auto 100px auto; height: fit-content;}
}
.index-slide .slick-slide {/*margin-right: 20px;*/ margin: 10px;}
.index-slide .slick-slide img {width: 100%; /*height: 100%;*/ max-width: 200px;}
.index-slide .slick-prev:before, .index-slide .slick-next:before {color: black;}
.index-slide.slick-slide {transition: all ease-in-out .3s;}
.mySection.index-section-2{padding: 50px 0; text-align: center; color: #fff; padding-bottom: 200px;}
.mySection.index-section-2 .section-2 h2{font-size: 30px; margin-bottom: 35px;}
.mySection.index-section-2 div.row div.col-md-3{margin-top: 84px; display: table;}
.mySection.index-section-2 div.row div.number{min-width: 40px; font-size: 35px; line-height: 0.7; font-weight: bold; margin-right: 5px;}
.mySection.index-section-2 div.row img{display: inline;}
.mySection.section-3{text-align:center; padding: 85px 20px; background: #F2F2F2;}
.mySection.section-3 .section-3-box{background-color: #000; margin:0 60px; width: 100%; max-width: 450px; height: 90px; display: inline-block; border-radius: 10px; position: relative;}
.mySection.section-3 .section-3-box div{color: #fff; font-size: 25px; width: 100%; position: absolute;left: 50%;top: 50%; transform: translate(-50%, -50%); line-height: 0.5rem;}
@media (min-width: 1280px) {
  .section-3 .containner-1200{max-width: 1280px;}
  .mySection.section-3 .section-3-box{max-width: 450px;}
}
.index-header-section-4 h2{font-size: 30px; text-align: center; margin-top: 30px;}
.mySection.section-4{margin: 0 0 105px 0; background: #fff;}
.slide-sec4-padding{padding: 0 40px;}
.sec4Img{width: 150px; height: 150px; margin: 5px 0;/*width: 179px; height: 179px; background-color: #ff0000; float: left;*/}
.sec4Img img{width: 150px !important; height: 150px !important;}
.sec4Content{min-height: 150px; background-color: #000; padding: 0 20px; color: #fff; margin: 5px 0;}
/*.sec4Content{height: 180px; background-color: #000; display:table; padding: 0 20px; width: -webkit-fill-available; color: #fff;}*/
.sec4Content p{display: table-cell; vertical-align: middle;}
.mySection.section-5{padding: 50px 100px; background-color: #111; color: #fff !important; position:relative;}
.mySection.section-5 p{font-size: 18px;}
.mySection.section-5 p span{font-size: 16px; font-weight: 100;}
.mySection.section-5 .btnI{position: absolute; bottom: 100px; right: 100px;}
.indexReport{width: 320px; height: 470px; border-radius: 20px; border: 1px solid #ccc; position: fixed; bottom: 100px; right: 10%; z-index: 999; background-color: #fff;}
.rpHeader{height: 60px; background-color: #000; display: table; width: 100%; text-align: center; border-top-left-radius: 20px; border-top-right-radius: 20px;}
.rpHeader p{color: #fff; display: table-cell; vertical-align: middle; font-size: 20px;}
.rpDetail{padding: 21px 18px;}
.rpDetail select{width: 100%; height: 35px; margin-bottom: 15px;}
.rpDetail input{width: 100%; height: 35px; margin-bottom: 15px;}
.rpDetail textarea{width: 100%; height: 189px; margin-bottom: 15px;}
.rpDetail button{width: 100%; height: 50px; background-color: #000; border-radius: 30px; border: none; color: #fff;font-size: 20px;}
.rpCloseBtn{margin: 16px 10px 0 0; color: #fff; cursor: pointer;}

/* About Us */
.aboutBox{background-color: #fff; border-radius: 20px; padding: 60px; margin: 60px 150px;}
.aboutHeader{text-align: center; margin-bottom: 30px;}
.aboutDetail{margin-bottom: 30px;}
.about-box-1{background-image: linear-gradient(to right, rgba(145,38,193,1), rgba(59,57,166,1));}
.about-1-img{transform: translate(0px,70px); max-width: 650px}
.about-box-3{max-width: 720px;}
.about-3-img{min-width: 200px; max-width: 21180;}
.about-box-4{background-image: linear-gradient(to right, rgba(252,74,38,1), rgba(246,165,11,1));}
.about-box-4-mw{max-width: 730px;}
.about-4-img{max-width: 80px;}
.af-yellow{color: #ffcb06;}
.af-red{color: #fa3a53;}
.af-red2{color: #fa3a53;}

/* Contact */
.contactBox{background-color: #fff; border-radius: 20px; padding: 60px; margin: 60px 150px;}
#contactGoogleMap{height: 472px; background-color: #000; margin-bottom: 60px;}
.contactHeader{margin-bottom: 10px;}

/* Terms */
.termsBox{background-color: #fff; border-radius: 20px; padding: 60px; margin: 60px 150px;}
.termsHeader{text-align: center; margin-bottom: 30px;}
.termsDetail{margin-bottom: 30px;}

/* Library */
.libraryTitle,.sheet-title { font-size: 20px; font-weight: 600; }
.libraryTextHeader { font-weight: 500; margin-bottom: 25px;}
.libraryHeader{background-color: #EDEDED; width: 100%; padding: 30px 0px;}
.library-slide.slider {width: 100%; margin: 0px auto; height: fit-content; text-align:center;}
.library.slick-slide img {width: 100%;}
.library-section img {width: 100%; max-width: 200px;}
.library .slick-prev:before,.library .slick-next:before {color: black;}
.library.slick-slide {transition: all ease-in-out .3s;}
.library-section{padding-top: 20px;}
.library-section .row div{padding-bottom: 30px; text-align: left;}
.library-section:nth-of-type(even){background-color: #F7F7F7;}
.library-section:nth-of-type(odd){background-color: #fff;}
.library-select-sub select{max-width: 520px; width: 100%; margin: 0 auto 40px auto; height: auto; padding-top: 80px;}
.library-section-sub .row div{padding-bottom: 20px;}
.library-section-sub img {width: 100%; max-width: 200px;}
.library-section-sub-guest img {width: 100%; max-width: 204px;}
.library-section .col-lg-2-10{text-align:center;}
.library-section-sub .col-lg-2-10{text-align:center;}
.library-slide .libraryBox img{margin: 0 auto 10px auto; max-width: 55px;}
.col-xs-2-10,
.col-sm-2-10 {position: relative;min-height: 1px;}
.col-xs-2-10 {
    flex: 0 0 50%; max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 350px) {
  .col-xs-2-5-10 {
    flex: 0 0 33.33%; max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .col-sm-2-10 {
    flex: 0 0 33.33%; max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-2-5-10 {
    flex: 0 0 25%; max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-5-10 {
    flex: 0 0 20%; max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .col-md-2-10 {
    flex: 0 0 20%; max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-2-10 {flex: 0 0 20%; max-width: 20%;}
}

/* Library Guest */
.lib-section-header{padding: 60px 0 0 0;}
.lib-section-subHeader span{margin-right: 40px; font-size: 40px; opacity: 0.6;}
.lib-section-subHeader span.active{opacity: 1;}
.library-section-txtHeader{margin-bottom: 20px;}
.library-section-guest{padding-top: 70px; padding-bottom: 70px;}
.library-section-guest .row div{padding-bottom: 60px;}
.library-section-guest:nth-of-type(even){background-color: #FFFFFF;}
.library-section-guest:nth-of-type(odd){background-color: #F7F7F7;}
.icon-lock { max-width: 25px; width: 100%; position: absolute; top: 10px; right: 30px; }
.library-section-guest img { width: 200px; }

/* My Profile */
.myProfileHeader{background-color: #fff; width: 100%; padding: 30px 0px;}
.myProfile-slide.slider {width: 85%; margin: 0px auto; height: fit-content; text-align:center;}
.myProfile.slick-slide img {width: 100%;}
.myProfile .slick-prev:before
,.myProfile .slick-next:before {color: black;}
.myProfile.slick-slide {transition: all ease-in-out .3s;} 
.myProfile-section{margin: 50px 0;}
.myProfile-img {
  position: relative;
  width: 170px;
  height: 170px;
  border: 4px solid transparent;
  border-radius: 1200px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.myProfile-left{display:inline-block; width: 15%; min-width: 200px; vertical-align: top;}
.myProfile-right{display:inline-block; padding-left: 50px; width: 74.7%;}
.myProfile-img img{width: 100%; height: 100%; border-radius: 1000px;}
.myProfile-score{width: 100%; background-color: #000; border-radius: 15px; padding: 10px 0px; color: #fff; text-align: center; line-height: 1; margin-top: 25px;}
.myProfile-score .bd-right{border-right: 2px solid #fff;}
.myProfile-form{padding: 50px; background-color: #fff; font-size: 16px;}
.myProfileBox img{margin: 0 auto 10px auto;}
/*.myProfile-name { line-height: 1 }*/
.myProfile-subscriber { font-size: 24px; font-weight: 500; color: #008C50; }

/* My Plan */
.myPlanBtn{font-size: 18px; width: 100%; max-width: 350px; height: 50px; padding: 0 20px; margin: 30px auto; border-radius: 35px; color: #fff; display: block; border: none;}
.myPlanBtn.btn1{margin-top: 60px;}
/* .myPlanBtn.btn2{background-color: #008C50;} */
.myPlanBtn.btn3{background-color: #FFB209;}

/* All Plan */
.allPlan-Header{width: 100%; padding: 30px 0px; background: #EDEDED 0% 0% no-repeat padding-box; margin-bottom: 30px;}
.new-prog-bar-cont {
    background: gainsboro;
    height: 10px;
    padding: 0;
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    display:inline-block;
    border-radius: 50px;
}
.prog-bar-cont {
    background: gainsboro;
    width: 80%;
    height: 10px;
    padding: 0;
    position: relative;
    /*top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    display:inline-block;
    border-radius: 50px;
}
.new-prog-bar-cont .prog-bar, .prog-bar-cont .prog-bar {
    background: #000;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.new-prog-bar-cont .prog-bar .background, .prog-bar-cont .prog-bar .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, violet, #30b3fc, #70dc23, yellow, orange, #ff1076);
}
.allPlanHeader{width: 100%; padding: 10px 20px; text-align: right; font-size: 16px}
.allPlanHeader a { color: #fff; text-decoration: underline; }
.div-progAddPlan{max-width: 800px; margin: 20px auto 0 auto;}
.progPercent{display: inline-block; color: #0075D0; width: 19%; text-align: right; font-size: 24px; color: #000;}
.new-progPercent{display: inline-block; color: #0075D0; text-align: right; font-size: 25px; color: #000;}
.subLevel-slide .slider .slick-list .slick-track .slick-slide{margin: 0 0 20px; height: fit-content;}
.subLevel-slide .slider .slick-list .slick-track .slick-slide img {width: 100%; max-width: 178px; border: 5px solid; border-color: transparent;}
.Level{min-height: 60px; border-radius: 20px 20px 0px 0px; color: #fff; padding: 0 40px; margin-top: 20px;}
.Level div{font-size: 24px; position: relative; /*top: 50%; transform: translateY(-50%);*/}
.subLevel{padding: 0 40px; background: #333333 0% 0% no-repeat padding-box; color: #fff;}
.subLevel-header{font-size: 20px; padding: 12px 0;}
.div-plan{margin-bottom: 80px;}
.subLevel.subDetail{padding: 0 40px; background: #4D4D4D 0% 0% no-repeat padding-box;}
.subLevel.subSheet{padding: 0 40px; background: #666666 0% 0% no-repeat padding-box;}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-112%);
  right: 25px;
}
.getComingSoon.arrow{
  transform: translateY(-139%);
}
/* My Profile Add Plan */
.addPlan-header{font-size: 30px; padding-top: 60px; margin-bottom: 20px;}
.div-addPlan .row div{margin-bottom: 50px;}
.addPlanBtn{width: 100%; max-width: 250px; height: 50px; padding: 0 20px; margin: 25px auto; border-radius: 35px; display: block; border: none; font-size: 18px;}
.div-addPlan:nth-of-type(odd){background-color: #F7F7F7;}

/* Change Plan */
.changePlan-txtHeader{margin-top: 20px; margin-right: 80px;}
.div-changePlanBtn{margin: 20px 0 20px 0; /*display: flex; justify-content: space-between;*/}
.changePlanBtn button{height: 50px; border-radius: 35px; border: none; font-size: 18px; margin: 10px 0;}
.div-changePlanBtn-btn1{max-width: 3300px;}
.div-changePlanBtn-btn2{max-width: 180px;}
.changePlanBtn .btn1{width: 100%; background-color: #FFFFFF; border: 1px solid #000; height: 50px; padding: 0 80px;}
.changePlanBtn .btn2{width: 100%; background-color: #008C50; color: #fff; height: 50px; padding: 0 40px;}

/* Exercise */
.img-hint { width: 65%; }
.img-answer { width: 100%; }
.choices { width: 38px; /*margin-bottom: 10px; display: block;*/ }
.choices.active{background: #000; color: #fff;}

.p-l-50 {padding-left: 50px !important;}

@media (max-width: 768px) {
  .div-changePlanBtn{display: block !important;}
  .div-changePlanBtn-btn1{max-width: 100%;}
.div-changePlanBtn-btn2{max-width:  100%;}
}
.changePlan-header{height: 50px; font-size: 30px; border: 1px solid #000; border-radius: 20px 20px 0 0; text-align:center;}
.checkHeader{font-size: 26px;}
.changePlan-detail {border: 1px solid #000; border-top: none; padding: 30px 50px; height: fit-content; min-height: 575px; margin-bottom: 60px; border-radius: 0 0 20px 20px;}
.changePlan-detail label{font-size: 20px;}
.changePlan-detail .form-check-input{position: relative;}
.changePlan-detail .form-check{margin-bottom: 15px;}
.changePlan-detail .checkHeader{margin-bottom: 15px;}

/* Search */
.searchHeader{width: 100%; max-width: 800px; margin: 60px auto; font-size: 30px;}
.searchHeader #search2{height: 50px; font-size: 26px;}
.searchHeader #search2:focus{background-color: #000; color: #fff; box-shadow: none;}
/*.searchHeader div{display: inline-block;}
.closeSearch{float: right;}*/
.searchMenu{width: 100%; padding: 0px 150px;}
.searchMenu select{height: 35px; font-size: 16px;}
.search-menu-list{margin: 50px; text-align: center; border-bottom: 2px solid #ccc;}
.search-menu-list .ls{font-size: 22px; display: inline-block; max-width: 50%; margin-bottom: -2px;}
@media (max-width: 992px) {
  .searchMenu{padding: 0px 20px;}
  .search-menu-list{margin: 20px; }
}
#search-video .embed-container{margin-bottom:20px; /*text-align: center;*/}
#search-video .embed-container iframe{width: 100%;}
#search-sheet{display: none; /*text-align: center;*/}
.search-menu-list .ls{cursor: pointer;}

/* Subscriber */
.member-border{border-radius: 21px; border: 3px solid #000;}
.member-border-rainbow{
  border: 3px solid transparent;
    border-radius: 25px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}
.subscriber-header{border-radius: 19px 19px 0 0; border: 1px solid #000; height: 94px; font-size: 26px; text-align:center; background: #000; color: #fff; padding: 7px; display: flex; justify-content: center; align-items: center;}

.subscriber-detail {padding: 15px 15px;}
.subscriber-detail .hd{font-size: 35px; font-weight: 500; margin-bottom: 25px;}
.subscriber-detail .dt{margin-bottom: 10px; position: relative; padding-left: 30px;}
.subscriber-detail .dt i{position:absolute; top:5px; left:0;}
.subscriber-detail * {
  word-break: break-all;
}
.subscriber-height{
  min-height: 696px;
}
@media(min-width:640px){
  .subscriber-height{
    min-height: 676px;
  }
}
@media(min-width:768px){
  .subscriber-height{
    min-height: 715px;
  }
}
.subscriberBtn{width: 100%; height: 50px; border-radius: 35px; font-size: 18px;}
.subscriber-average { color: #DB0A12; font-size: 15px; font-weight: 600; }
.pomotion-code{ background-color: #fbfbfb}
.plan-menu{
  border-bottom: 1px solid #D6D6D6;
}
.plan{
  padding-bottom: 11px;
  border-bottom: 3px solid transparent;
}
.plan.active{
  border-bottom: 3px solid #0075D0;  
}
.plan.active a{
  color: #0075D0;
}

/* SignIn */
.box-800{width: 100%; max-width: 800px; margin: 30px auto; background-color: #FFF; border-radius: 20px; padding: 60px;}
.form-signIn{margin-top: 30px; min-height: 30px;}
/*.form-signIn .form-check-input{ }*/
.signInBtn{width: 100%; height: 60px; padding: 0 20px; margin: 30px auto; border-radius: 35px; display: block; font-size: 18px;}
.signInBtn.btn1{margin-top: 60px; /*background-color: #000; color: #FFF; border: 1px #000 solid;*/}
.signInBtn.facebook{background-color: #FFF; color: #3B5998; border: 1px #3B5998 solid;}
.signInBtn.google{background-color: #FFF; color: #000; border: 1px #000 solid;}
.signInBtn.signUp{/*background-color: #FFF; color: #000; border: 1px #000 solid;*/}
.line-middle{width: 100%; text-align: center; border-bottom: 1px solid #CCC; line-height: 0.1em; margin: 10px 0 20px;}
.line-middle span {background:#fff; padding:0 10px;}
.form-signIn input{border: none; border-bottom: 1px solid #CCC; border-radius: 0; color: #000; padding-left: 0;}
.form-signIn input:focus{color: #000;}
.form-signIn select{border: none; border-bottom: 1px solid #CCC; border-radius: 0; padding-left: 0;}
.form-signIn span{border: none; border-bottom: 1px solid #CCC; border-radius: 0;}

/* SignUp */
.box-SignUpStep{margin: 80px auto; width: fit-content;}
.SignUpLine-middle{width: 100%; text-align: center; border-bottom: 2px solid #CCC; line-height: 0.1em; margin: 10px 0 20px; height: 1px;}
.SignUpLine-middle div.SignUpStepCircle{background:#F7F7F7; padding:0 10px; top: -25px; margin-right: 150px;}
.SignUpLine-middle div.SignUpStepCircle.active{cursor: pointer;}
.SignUpStepCircle{width: 45px; height: 45px; position: relative; font-size: 26px; text-align: center; display: inline-block; border: 2px solid #ACACAC; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; color: #ACACAC;}
.SignUpStepCircle p{margin-top: 21px; font-weight: 500;}
.SignUpStepCircle.active{background: #000 !important;}
.SignUpStepCircle.active p{color: #fff;}
.SignUpLine-middle div.SignUpStepCircle.last{margin: 0px;}
.signUpBtn-div{ margin: 30px 0;}
.signUpBtn,.signUpBtnBack{width: 130px; height: 50px; padding: 0 20px; border-radius: 35px; display: inline; font-size: 18px; cursor: pointer;}
.SignUpSteptxt1{font-size: 16px; position: absolute; margin-top: 50px; margin-left: -60px; width: 150px;}
.SignUpSteptxt2{font-size: 16px; position: absolute; margin-top: 50px; margin-left: -60px; width: 150px;}
.SignUpSteptxt3{font-size: 16px; position: absolute; margin-top: 50px; margin-left: -60px; width: 160px;}
.SignUpSteptxt4{font-size: 16px; position: absolute; margin-top: 50px; margin-left: -60px; width: 150px;}
@media (max-width: 768px) {
  .SignUpLine-middle div.SignUpStepCircle{margin-right: 50px;}
}
@media (max-width: 400px) {
  .SignUpStepCircle p{margin-top: 18px; font-weight: 500;}
  .SignUpLine-middle div.SignUpStepCircle{margin-right: 45px;}
  .SignUpStepCircle{width: 42px; height: 42px; position: relative; font-size: 28px;}
  .SignUpSteptxt1{font-size: 14px;}
  .SignUpSteptxt2{font-size: 14px}
  .SignUpSteptxt3{font-size: 14px;}
  .SignUpSteptxt4{font-size: 14px; }
}
.SignUp-policy { margin-top: 20px/*position: relative; top: 70px;*/ }
.otp-box{text-align: center; margin: 50px 0;}
.otp-number{text-align:center; width:60px; margin: 0 10px; font-size: 65px; border: 0px; border-bottom: 2px solid #ccc; display: inline-block;}
.otp-number input{width:50px; border:none;}
.otp-numberAll{text-align: center; border:none; border-bottom: 2px solid #ccc; font-size: 45px; width: 100%;}
.sendOTP{cursor: pointer;}
.sendOTP:hover .bg-Btn-OTP{background-color: #929292;}
.bg-Btn-OTP{background-color: #000000; color:#fff;}
.btn-sendOTP.isDisable .bg-Btn-OTP{background-color: #bbb5b594;}
.sendBtn:hover{/*background-color: #929292 !important; border: 1px solid #929292 !important;*/}
.btn-disable{background-color: #bbb5b594 !important; border: 1px solid #bbb5b594 !important;}
@media (max-width: 687px) {
  .otp-number{width:30px; margin: 0 10px; font-size: 45px;}
  .otp-number input{width:30px;}
}
@media (max-width: 510px) {
  .otp-number{width:25px; margin: 0 5px; font-size: 35px;}
  .otp-number input{width:25px;}
}
.registerBtn{width: 100%; height: 60px; padding: 0 20px; margin: 30px 0; border-radius: 35px; display: block; font-size: 18px;}
#sendOTP{cursor: pointer;}

/* MyEveryDay */
.img-addplan { width: 100%; max-width: 420px; }
.myEveryDay-H-box{align-items: flex-end;}
.subLevel-H-Box{min-height: 60px; background: #F6921E 0% 0% no-repeat padding-box; color: #fff;}
.subLevel-H-Box div{font-size: 24px; position: relative; /*top: 50%; transform: translateY(-50%);*/}

/* Video */
@media (min-width: 790px){
  .vid-downloadSheet{
    padding: 0 60px;
  }
}
@media (min-width: 768px){
  .vid-header{
    /*margin-left: -75px;*/
    max-width: 500px;
  }
}
@media (min-width: 920px){
  .vid-header{
    max-width: 600px;
  }
}

.vid-h1{
  font-size: 30px; color: #F6921E; margin-top: 50px;

}
.vid-h2{font-size: 26px; color: #FFFFFF; margin: 10px 0 20px 0;}
.vid-h2.guest{margin: 50px 0 10px 0;}
.vid-Btn{font-size: 18px; /*background: #008C50;*/ border-radius: 30px; padding: 10px 40px; max-width: 100%; min-height: 50px; color: #FFFFFF; margin: 20px auto 50px auto; border: none;}
.vid-detail-box{width: 100%; max-width: 1100px; margin: 20px auto 40px auto;}
.vid-detail{display: inline-block;}
.vid-Btn1{max-width: 360px; width: 100%; border-radius: 30px; height: 50px; font-size: 18px; /*background-color: #efefef;*/}
.vid-Btn2{max-width: 360px; width: 100%; border-radius: 30px; height: 50px; font-size: 18px; background-color: #efefef;}
.vid-subLevel{color: black; font-size: 35px; padding: 60px 0 35px 0;}
.vid-btn-div{text-align: center; margin: 80px 0;}
.vid-unlike-btn{max-width: 20px; display: inline !important; cursor: pointer;}
.vid-like-btn{max-width: 20px; display: inline !important; cursor: pointer;}
.vid-detail{padding: 0 20px}
.vid-detail.d1{border-right: 1px solid #ACACAC;}
.vid-detail.d2{border-right: 1px solid #ACACAC;}
.div-like-btn{display: inline;}
/*.vid-detail.d3{}*/
.vid-detail.d4{margin: 0 0 0 auto; min-width: 150px;}
/*.vid-detail.d5{}*/
.vid-detail-box{display: flex; font-weight: 100; color: gray;}

/* MyPerformance */
.prog-bar-myPer {
    background: gainsboro;
    width: 100%;
    height: 20px;
    padding: 0;
    position: relative;
    display:inline-block;
    border-radius: 50px;
}
.prog-bar-myPer .prog-bar {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.prog-bar-myPer .prog-bar .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, violet, #30b3fc, #70dc23, yellow, orange, #ff1076);
    display:inline-table;
    text-align: center;
}
.prog-text{text-align: center; margin-top: -29px; clip-path: inset(0 0% 0 0); color: #fff;}
.prog-text-question{text-align: center; margin-top: -36px; clip-path: inset(0 0% 0 0); color: #fff;}
.myPer-div{margin-bottom: 50px;}

/* StartPlan */
.img-startplan{max-width: 420px; width: 100%;}
.startPlanBox{max-width: 700px; width: 100%; /*height: 620px;*/ margin: 80px auto 60px auto;}
.startPlanBtn-div{text-align: center; margin-bottom: 150px; width: 100%;}
.startPlanBtn{max-width: 500px; width: 100%; height: 70px; border-radius: 35px; margin: 15px 30px 15px 0; font-size: 24px; border: 1px solid #008C50;}
.startPlanBtn.btn1{background: #008C50; color: #fff}
.startPlanBtn.btn2{background: #fff; color: #008C50}
.startPlanInfo{position: absolute; top: 40px; right: 16px;}

/* recommend add plan */
.recommend{padding: 0 40px; background: #333333 0% 0% no-repeat padding-box; color: #fff; border-radius: 0 0 20px 20px;}
.recommend-header{font-size: 24px; padding: 30px 0; text-align: center;}
.recommend-add-plan{max-width: 700px; width: 100%; margin: 40px auto 60px auto;}

/* MyNote */
.myNote-header{
  background: transparent linear-gradient(90deg, #EC1C24 0%, #F6921E 18%, #FFCA05 39%, #8BC53F 61%, #1B75BB 82%, #7F3F97 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  padding: 30px;
  color: #fff;
}
.myNote-header input{background: inherit; border: 1px solid #fff; color: #fff; border-right: none;}
.myNote-header input:focus{background: inherit;}
.myNote-header input::placeholder{color: #fff;}
.myNote-header button{border: 1px solid #fff; border-left: none; border-radius: 0px 0.25rem 0.25rem 0px !important;}
.myNote-body{background: #fff; padding: 0 30px; border-radius:0px 0px 20px 20px;}
.myNoteDate-div{text-align: right;}
.myNoteDate{/*width: 250px !important;*/ display: inline-flex;}
.sheet-menu-list{margin: 0 0 50px 0; padding-top: 50px; text-align: center; border-bottom: 2px solid #ccc;}
.sheet-menu-list .ls{font-size: 22px; display: inline-block; /*width: 15%;*/ margin-bottom: -2px;}
.sheet-menu-list .ls{cursor: pointer;}
.sheet-box .h350{height: 350px; display: inline; width: 100%;}
.sheet-box .h350 img{max-width: 100%;}
.sheet-box.none{display: none;}
/*.sheet-title { font-size: 18px; }*/
.sheet-des { font-size: 16px; color: #5e5e5e; }
.myNoteDate-div .txtMid{position: relative; top: 20%; transform: translateY(-50%);}
.myNote-container .input-group-append .btn:hover{background-color: transparent; border: 1px solid #fff; border-left: none;}

/* MyLog */
.myLog-body{background: #fff; padding: 30px 30px; border-radius:0px 0px 20px 20px;}
.logSearch{display: inline-flex; margin: 5px 0;}
.logSearch.txt{width: 110px; position: relative; top: 50%; transform: translateY(-50%);}
.log-div-6{box-sizing: border-box; display: flex;}
.myLogDate .input-group-append{display: block;}
.myLogDate .input-group-append .btn:hover{background-color: transparent; border: 1px solid #fff; border-left: none;}
.log-div{margin-bottom: 40px;}
.logDate{font-size: 16px; color: #0075D0;}
.logTime{font-size: 14px; color: #ACACAC;}
.logDetail{font-size: 16px;}
.log-cover { width: 200px; }

/* Video Sheet Test */
.vid-st-header{margin: 50px auto; text-align: center; font-size: 30px; color: #fff;}
.vid-st-img{max-width: 240px; margin: 0 auto 60px auto;}
.vid-st-img img{width: 100%; /*margin: 0 15px;*/}
.vid-st-btn{max-width: 360px; width: 100%; height: 50px; margin: 0 auto 100px auto; background: #FFFFFF; border-radius: 35px; font-size: 18px; border: none;}

/* Test */
.testTitle{text-align: center; font-size: 26px;}
.testDetail{font-size: 18px; width: fit-content; margin: 45px auto 75px auto;}
.testDetailRow{margin: 0 7px 15px 0;}
.testDetailNo{margin-right: 20px; background: #000; color: #fff; text-align: center; border-radius: 50%; display: inline-block; min-width: 35px; width: 35px; height: 35px; padding-top: 5px;}
.test-btn{max-width: 360px; width: 100%; height: 50px; /*color: #fff; background: #008C50;*/ margin: 0 auto; border-radius: 35px; font-size: 18px; border: none;}

/* Plan Add Plan */
.box-1000-addPlan{width: 100%; max-width: 800px; margin: 25px auto; background-color: #FFF; border-radius: 20px;}
.addPlanHeader{border-bottom: 1px solid #ACACAC; padding: 20px 60px; font-size: 26px;}
.addPlanHeadertxt span{display: inline-block; width: 200px; font-weight: 400; margin-right: auto;}
/*.addPlanHeaderbtn{display: inline-block; float: right;}*/
.addPlanHeaderbtn{width: 120px; height: 45px; border-radius: 35px; font-size: 18px; cursor: pointer;}
.addPlanPreviousbtn{width: 120px; height: 45px; border-radius: 35px; font-size: 18px;}
.addPlan-boxstep{padding: 50px;}
@media (max-width: 600px) {
  .addPlanHeader{font-size: 24px;}
  .addPlanHeaderbtn{width: 120px; height: 45px; margin-top: -5px; border-radius: 25px;}
  .addPlanPreviousbtn{width: 120px; height: 45px; margin-top: -5px; border-radius: 25px;}
}
.addPlan-boxstep{text-align: center;}
.addPlan-step-title{font-size: 26px; color: #0075D0; margin-bottom: 20px;}
.addPlan-step-btn{font-size: 18px; display: block; max-width: 400px; width: 100%; margin: 0 auto 20px auto; min-height: 50px; background: #fff; border: 1px solid #000000; border-radius: 10px;}
.addPlan-step-btn.active{background: #0075D0; color: #fff;}

.icon-hint { color: gray; font-size: 20px; cursor:pointer;}
.icon-nav { display: block; margin-left: auto; margin-right: auto; }
.icon-social { width: 24px; }
.icon-subject { width: 55px; }

.cover { width: 200px; max-width: 100%; /*margin-left: 15px;*/ font-size: 20px }

.f-w-500 { font-weight: 500 !important; }

.blue { color: #0075D0; }

.l-h-1 { line-height: 1 !important }

.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-lib { margin-top: 15px !important; margin-bottom: 10px !important; }

.p-l-40 {padding-left: 40px !important;}
.p-l-50 {padding-left: 50px !important;}
.p-t-50 {padding-top: 50px !important;}
.p-t-80 {padding-top: 80px !important;}

.p-b-40 {padding-bottom: 40px !important;}

.text-black { color: #000; }
.text-white { color: #fff; }
.text-gray { color: #808080 }

.top-content { display: table; margin-right: auto; margin-left: auto; }
:focus {outline: none !important;}
.dropdown-toggle::after {
    content: none;
}
.menuList img{margin-bottom: 5px; height: 30px;}
.menuList img.icon{margin: 2.5px 0; height: 30px;}
.menuList p{ font-size: 14px; }
.menuHamberg{/*float: right;*/ cursor:pointer; padding: 10px; background: #1F1F1F;}
.menuHamberg img{height: auto; margin-bottom: 0px; width: 30px;}
.Q-btnSubmit{/*color: #fff; background: #008C50;*/ border-radius: 35px; min-width: 100px; padding:0 20px; height: 45px; font-size: 18px;}
.Q-btnTimeAlert{/*color: #fff; background: #969b99;*/ border-radius: 35px; min-width: 100px; padding:0 50px; height: 45px; font-size: 18px;}
.questionTitle{border-bottom: 1px solid #ACACAC; padding: 15px 50px;}
.questionTitle div.qTitle{display: table-cell;}
.questionTitle div.qTitle.qRight{vertical-align: middle; text-align: right;}
.questionTitle div.qTitle.qRight div{margin-left: 35px; display: inline;}
.questionDetail{padding: 15px 50px;}
@media (max-width: 768px) {
  .questionDetail{padding: 15px 20px;}
  .questionTitle{padding: 15px 20px;}
}
.qImg{max-width: 100%;}
.qProgressBar{padding: 15px 50px;}
.prog-bar-q {
    background: gainsboro;
    width: 100%;
    height: 10px;
    padding: 0;
    position: relative;
    display: inline-block;
    border-radius: 50px;
}
.prog-bar-q .prog-bar {
    background: #000;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.prog-bar-q .prog-bar .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, violet, #30b3fc, #70dc23, yellow, orange, #ff1076);
}
.imgAnswerSheet{margin: 45px 0 5px 0; max-width: 35px; width: 100%;}
.txtAnswerSheet{margin-bottom: 25px;}
.choice{font-size: 30px; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #707070; margin: 0 auto 20px; padding-top: 2px; cursor: pointer; display: block; background: #fff;}
.choice:focus{background: #000; color: #fff;}
.choice.active{background: #000; color: #fff;}

.boxed label { display: block; font-size: 30px; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #707070;margin: 0 auto 20px; padding-top: 2px; cursor: pointer; transition: all 0.3s;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  background: #000; color: #fff;
}

.Q-btn-div{margin: 40px 0;}
.Q-btn{border-radius: 35px; width: 100px; height: 45px; /*border: 1px solid #000000;*/ font-size: 18px;}
/* .Q-btn.back{background: #fff; color: #000;} */
/* .Q-btn.next{background: #000; color: #fff;} */
.AnswerSheet{width: 100%; border-radius: 20px; background: #fff; padding: 25px 55px 55px 55px; text-align: center;}
.AnswerSheetTable{display: table; border-spacing: 10px;}
/* .AnswerSheetTable{display: table;} */
.choiceAnswerSheet{font-size: 16px; display: table-cell; padding-top: 7px; width: 40px; height: 40px; border: 1px solid #707070; text-align: center; cursor: pointer;}
.choiceAnswerSheet.active{background: #000; color: #fff;}
.btn-Q-modal{width: fit-content; margin: 0 auto; cursor: pointer;}
.Q-modal .modal-dialog{max-width: 700px; border-radius: 20px;}
.Q-modal .modal-content{border-radius: 20px;}
.Q-modal .modal-content .close{text-align: right; float: none; margin-right: 15px; font-size: 70px; font-weight: 100; width: 100%;}
.myEveryDay-section{padding-top: 20px; background-color: #fff; padding-bottom: 60px;}
.myEveryDayTextHeader { font-weight: 500; margin-bottom: 25px; }
.myEveryDay-info{position: absolute; top: 40px; right: 100px; cursor: pointer;}
@media (max-width: 991px) {
  .myEveryDay-info{top: 10px; right: 10px;}
}
.hil-box{width: fit-content;}
.hil-box.orge img{border: 5px solid #fff; margin-bottom: 5px;}
.hil-box.orge:hover img{border: 5px solid #f15a24;}
.myEveryDay-section .hil-box.orge:hover img{border: 5px solid #f15a24!important;}
.hil-box .progress{width: calc(100% - 10px); margin-left: 5px; padding-bottom: 0.3rem; height: 0.3rem;}
.hil-box .progress .progress-bar{padding-bottom: 0.5rem;}
.hil-box .max180{max-width: 158px;}
.hil-box .max180 img{width: 100%;}
.hil-box .max180 p{margin-left: 5px;}
.hil-box .max180 .status{margin-left: 5px; font-size: 12px;}
.hil-box .max180 .status .new{color: #fff; text-align: center; width: 48px; height: 18px; background: #0FC778; border-radius: 10px;}
.hil-box .max180 .status .update{color: #fff; text-align: center; width: 68px; height: 18px; background: #EC1C24; border-radius: 10px;}
.hil-box .max180 .status .comingSoon{color: #fff; text-align: center; width: 110px; height: 18px; background: #3599E8; border-radius: 10px;}
/*.myEveryDay-slide-box .content{display: table-cell; max-width: 200px;}*/
/*.myEveryDay-slide-box .arrow{display: table-cell; vertical-align: middle; width: 26px;}*/
.myEveryDay-slide-box .content{padding-right: 10px; width: 93%; cursor: pointer;}

.myEveryDay-slide-box .arrow div, .m-arrow{/*margin-left: 15px;*/ font-size: 30px;}
.regular .slick-slide:last-child .arrow .icon-arrow{display: none;}
.myEveryDay-slide-box .progress{width: calc(100% - 10px); max-width: 168px; margin-left: 5px; margin-top: 10px; padding-bottom: 0.3rem; height: 0.3rem;}
.myEveryDay-slide-box .progress-bar{padding-bottom: 0.5rem;}
.myEveryDay-slide-box .status .comingSoon{font-size: 12px; color: #fff; text-align: center; width: 110px; max-width: 100%; padding:2px 10px;/*height: 18px;*/ background: #3599E8; border-radius: 10px;}
.timeAlert .modal-dialog{max-width: 750px;}
.timeAlertContent{padding: 70px 60px; text-align: center;}
.timeAlertContent .close{position: absolute; top: 7px; right: 7px;}
.timeAlertContent .close span{font-size: 60px; font-weight: 100; line-height: 0.4;}
.timeAlertContent .txt{font-size: 26px; margin-bottom: 10px;}
.prog-bar-timeAlert {
  max-width: 250px;
    background: gainsboro;
    width: 100%;
    height: 35px;
    padding: 0;
    position: relative;
    display:inline-block;
    border-radius: 50px;  
}
.prog-bar-timeAlert .prog-bar {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.prog-bar-timeAlert .prog-bar .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, #ff0000, orange, #70dc23);
    display:inline-table;
    text-align: center;
}
.prog-text-ansSheet{text-align: center; margin-top: -36px; clip-path: inset(0 0% 0 0); color: #fff;}
.qImg-div{width: 100%; height: 90%; padding: 20px; border: 1px solid #ACACAC; margin-top: 20px;}



.P-modal .modal-content .close{text-align: right; float: none; /*padding-right: 30px;*/ font-size: 70px; font-weight: 100; width: 100%; line-height: 0.5;}
.P-AnswerSheet{width: 100%; border-radius: 20px; background: #fff; padding: 25px 15px 55px 15px; text-align: center;}
.P-AnswerSheetTable{display: table; border-spacing: 7px;}
.P-choiceAnswerSheet{font-size: 16px; display: table-cell; padding-top: 3px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #707070; text-align: center;}
.P-choiceAnswerSheet.active{background: #000; color: #fff;}
.AnswerCenter{text-align: -webkit-center;}
.close_ex{position: absolute; right: 20px; font-size: 4rem; font-weight: 300;}
@media (min-width: 992px){
  .P-modal .modal-lg, .P-modal .modal-xl {
      max-width: 1100px;
  }
}
.preTest-result{margin: 60px 0; position: relative; text-align: center;}
.preTest-result-info{position: absolute; top: 0; right: 10px;}
.preTest-result-box{max-width: 1000px; text-align: center; margin: 30px auto;}
.preTest-result-box .box{border: 1px solid #ccc; border-bottom: none; padding: 20px 0;}
@media (min-width: 768px) {
  .preTest-result-info{right: 110px;}
  .preTest-result-box .box:first-child{border-left: none;}
  .preTest-result-box .box:last-child{border-right: none;}
}
.myEveryDay-addPlan-box{text-align: center;}
.myEveryDay-addPlan-btn{width: 100%; max-width: 360px; height: 50px; padding: 0 20px; margin: 50px auto; border-radius: 35px; display: block; border: none; font-size: 18px;}
.T-Score-box .title{font-size: 30px; margin-bottom: 20px;}
.choiceScore{font-size: 16px; display: table-cell; padding-top: 7px; width: 40px; height: 40px; border-radius: 50%; border: 1px solid #707070; text-align: center;}
.choiceScore.correct{background: #008C50 !important; color: #fff;}
.choiceScore.inCorrect{background: #ff0000; color: #fff;}
.choiceScore.active{background: #000; color: #fff;}
.choiceScore.disabled{background: #adadad; color: #000; border: 0px;}
.choiceScore.answer{background: #fff; color: #008C50; border: 1px solid #008C50;}
.T-Score-box .btn-div{margin-top: 50px;}
.resultHeader{font-size: 24px;}
.resultDetail{font-size: 35px; font-weight: 600;}
.resultDetail.rainbow-text{width: fit-content; margin: 0px auto;}
.preTest-newPlan{width: 260px; height: 375px; box-shadow: 5px 5px 30px #00000014; margin:  30px auto; background: transparent linear-gradient(145deg, #EC1C24 0%, #F6921E 23%, #FFCA05 41%, #8BC53F 59%, #1B75BB 76%, #7F3F97 100%) 0% 0% no-repeat padding-box;}
.preTest-newPlan .txt{color: #FFFFFF; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.myProfileBox.active span{text-decoration: underline;}
.search-box-div{margin-bottom: 40px; position: relative;}
.search-box-div img.searchImg{max-width: 100%;}
.search-box-div img.searchLock{position: absolute; top: 10px; right: 25px; width: 25px;}
.search-box-div p{text-align: start;}
/*.search-box{}*/
.myEveryDay-slide-box.active .content img, .myEveryDay-slide-box:hover .content img{border-color: #f15a24 !important;}
.myEveryDay-slide-box.gray .content img{filter: brightness(0.625);} 
.myEveryDay-slide-box.active .content img{filter: brightness(1);}
.myEveryDay-slide-box:hover.gray .content img{filter: brightness(1)};
/* .myEveryDay-slide-box.slide-box-sub.gray .content img{filter: brightness(0.625);}
.myEveryDay-slide-box.slide-box-sub.active .content img{filter: brightness(1);}
.myEveryDay-slide-box:hover.slide-box-sub.gray .content img{filter: brightness(1);} */
.myEveryDay-slide-box a{color: #fff;}
.vid-backArrow{position: absolute; top: 50px; left: 150px; cursor: pointer; text-align: center;}
.vid-nextArrow{position: absolute; top: 50px; right: 150px; cursor: pointer; text-align: center;}
.vid-uploadSheet{position: absolute; bottom: 150px; right: 150px; cursor: pointer; text-align: center;}
.vid-uploadSheetGuest{position: absolute; bottom: 150px; right: 150px; text-align: center;}
.vid-uploadSheet img{width: 50px;}
.vid-uploadSheetGuest img{width: 50px;}
@media (max-width: 1200px) {
  .vid-backArrow{left: 50px;}
  .vid-nextArrow{right: 50px;}
  .vid-uploadSheet{bottom: 225px; right: 50px; }
  .vid-uploadSheetGuest{bottom: 225px; right: 50px; }
  /*.vid-header{}*/
  /* .vid-btn-div{margin-top: 110px;} */
}
.video-set-alignment{
  margin-bottom: 80px;
}
@media (min-width: 768px){
  .video-set-alignment{margin-bottom: 110px;}
}
.libraryAllTextHeader { font-weight: 500; margin-bottom: 25px; text-align: center;}
.lib-list-header{height: 250px; text-align: center; font-size: 35px; font-weight: bold; position: relative; z-index: 500;}
.lib-list-headerTxt{font-size: 30px; margin: 0 15px; display: inline; font-weight: 500; color: #000;}
.bg-image {
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: #fff; /* Fallback color */
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  opacity: 0.8;
}
.lib-No{margin-right: 7px; background: #F6921E; color: #fff; text-align: center; border-radius: 50%; display: inline-block; width: 43px; height: 43px;}
.library-section .status{font-size: 12px;}
.library-section .status div{font-size: 12px; text-align: center; width: fit-content; max-width: 100%; height: 18px; border-radius: 10px; padding: 0px 10px;}
.library-section .status .new{color: #fff; background: #0FC778;}
.library-section .status .update{color: #fff; background: #EC1C24;}
.library-section .status .comingSoon{color: #fff; background: #3599E8; }
.library-section .status-sublist {font-size: 12px; position: relative; bottom: 30px; left: 50px;}
.library-section .status-sublist div{font-size: 12px; text-align: center; width: fit-content; max-width: 100%; height: 18px; border-radius: 10px; padding: 0px 10px;}
.library-section .status-sublist .comingSoon{color: #fff; background: #3599E8; }
.status-sublist-guest div{font-size: 12px; text-align: center; width: fit-content; max-width: 100%; height: 18px; border-radius: 10px; padding: 0px 10px;}
.status-sublist-guest .comingsoon-guest{color: #fff; background: #3599E8; }

.img-arrow { width: 50px; }
.lib-txtHeader{font-size: 35px;}
.lib-subTxtHeader{color: #0075D0; margin-bottom: 30px;}
.lib-subTxtHeader a{color: #0075D0; margin-bottom: 30px;}
.vid-Btn1.disable{background: #4D4D4D; cursor: auto;}
.vid-Btn.disable{background: #4D4D4D; color: #1F1F1F; cursor: auto;}
.form-black{background-color: #000; color: #fff;}
.column-2{max-width: 690px; margin: 0 auto;}
.P-hint{width: 100%; border-radius: 20px; background: #fff; padding: 45px;}
.hintHeader{font-size: 26px; font-weight: 500; text-align: center; width: 100%;}
.hintNo{font-size: 24px; color: #0075D0;}
.answerTxt1{text-decoration: underline; color: #ACACAC; text-align: center; margin: 30px 0 0px 0;}
.answerTxt2{color: #EC1C24; text-align: center;}
.answerTxt3{font-size: 24px; color: #EC1C24; text-align: center; margin: 60px 0 30px 0;}
.hintImg{text-align: center; margin-bottom: 20px;}
.levelColl{height: 60px; border-radius: 20px 20px 0px 0px; color: #fff; padding: 0 40px; margin-top: 20px;}
.collTxt{font-size: 24px; margin-top: 5px; color: #fff;}
.collIcon{font-size: 36px; margin-top: 5px;  color: #fff; line-height: 1;}
.btn.btnColl{box-shadow: none;}
.btn .collIcon:after{content: '-';}
.btn.collapsed .collIcon:after{content: '+';}

button.btn.btn-dark, .btn:not(.close):not(.mfp-close).btn-dark, a.btn:not([href]):not([tabindex]).btn-dark { background-color: #000000; border-color: #000000; }
button.btn.btn-dark:hover, button.btn.btn-dark:focus, button.btn.btn-dark:active, button.btn.btn-dark.active, .btn:not(.close):not(.mfp-close).btn-dark:hover, .btn:not(.close):not(.mfp-close).btn-dark:focus, .btn:not(.close):not(.mfp-close).btn-dark:active, .btn:not(.close):not(.mfp-close).btn-dark.active, a.btn:not([href]):not([tabindex]).btn-dark:hover, a.btn:not([href]):not([tabindex]).btn-dark:focus, a.btn:not([href]):not([tabindex]).btn-dark:active, a.btn:not([href]):not([tabindex]).btn-dark.active { background-color: #333333; border-color: #333333; color: #ffffff; }
button.btn.btn-dark.btn-outline, .btn:not(.close):not(.mfp-close).btn-dark.btn-outline, a.btn:not([href]):not([tabindex]).btn-dark.btn-outline { background-color: transparent; color: #212529; border-color: #707070; border-radius: 50px; margin-right: 10px; }
button.btn.btn-dark.btn-outline:hover, button.btn.btn-dark.btn-outline:focus, button.btn.btn-dark.btn-outline:active, button.btn.btn-dark.btn-outline.active, .btn:not(.close):not(.mfp-close).btn-dark.btn-outline:hover, .btn:not(.close):not(.mfp-close).btn-dark.btn-outline:focus, .btn:not(.close):not(.mfp-close).btn-dark.btn-outline:active, .btn:not(.close):not(.mfp-close).btn-dark.btn-outline.active, a.btn:not([href]):not([tabindex]).btn-dark.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-dark.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-dark.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-dark.btn-outline.active { background-color: #000000; border-color: #000000; color: #ffffff; }

.numberEx { align-self: center; margin-right: 5px; width: 25px; cursor: pointer;}
.number { align-self: center; margin-right: 5px;}
.menuMember{text-align: center; cursor: pointer;}
/*.dropdown-menu.dropdown-menu-right{margin-top: 90px;}*/
.subHeader-info{position: absolute; top: -26px; right: 16px; cursor: pointer;}
/* @media (max-width: 991px) {
  .subHeader-info{right: -50px;}
} */
.mw-450{max-width: 450px;}
.mw-350{max-width: 350px;}
.mh50{min-height: 50vh;}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.h-12{height: 12px !important;}
.btnLib{cursor: pointer; /*margin: 0 35px;*/}
.helpBtn{position: fixed; bottom: 65px; right: 60px; width: 80px; cursor: pointer; z-index: 9999999;}
.helpBtn img{width: 80px;}
.sendBtn{width: 100%; height: 60px; padding: 0 20px; margin: 30px auto; border-radius: 35px; display: block; font-size: 18px;}
.sendBtn.btn1{margin-top: 70px; /*background-color: #000; color: #FFF; border: 1px #000 solid;*/}
#DropdownSearch{transform: translate3d(-1px, 37px, 0px) !important; max-height: 200px; overflow: auto; background-color: #000; width: inherit;}
#DropdownSearch2{transform: translate3d(-1px, 50px, 0px) !important; max-height: 200px; overflow: auto; background-color: #000; width: inherit;}
#DropdownSearch3{transform: translate3d(-1px, 38px, 0px) !important; max-height: 200px; overflow: auto; background-color: #000; width: inherit;}
#DropdownSearchMyNote{transform: translate3d(-1px, 38px, 0px) !important; max-height: 200px; overflow: auto; background-color: #000; width: inherit;}
#DropdownSearchMyNote button{border: none;}
.dropdown-item{color: #fff;}
.signUpStepBtn{width: 45px; height: 45px; font-size: 26px; font-weight: 500; background-color: #F7F7F7; color: #ACACAC; border: 2px solid #ACACAC;}
.signUpStepBtn.active{background-color: #000; color: #fff; cursor: pointer;}
.signUpStepBtnBox{margin: 0 10px; }
.signUpStepBtnDiv{width: 100%; max-width: 800px; margin: 30px auto; padding: 30px;}
.signUpStepLine{border-bottom: 2px solid #CCC; width: 80%; margin:0 auto -25px auto;}
.AnswerSheetMobile{display:none;}
.myNote-menu-list-mobile{display:none; margin:0px auto 30px auto; padding-top: 30px; text-align: center;}
.hfit{height: fit-content;}
/* .subBoxMemberType{margin: 0; max-width: 272px;} */
@media(min-width: 768px){
  .subBoxMemberType{margin: 0 auto; max-width: 400px;}
}
@media(min-width: 920px){
  .subBoxMemberType{max-width: 430px;}
}
@media(min-width: 1024px){
  .subBoxMemberType{max-width: 500px;}
}
.div-memberTypeSlick{padding: 0 10px;}
.bg-Sunday{background: #EC1C24 url('./img/Everyday_BG_Home_Sunday.jpg') bottom left no-repeat;}
.bg-Monday{background: #FFB209 url('../img/Everyday_BG_Home_Monday.jpg') bottom left no-repeat;}
.bg-Tuesday{background: #EF528A url('../img/Everyday_BG_Home_Tuesday.jpg') bottom left no-repeat;}
.bg-Wednesday{background: #008C50 url('../img/Everyday_BG_Home_Wednesday.jpg') bottom left no-repeat;}
.bg-Thursday{background: #FE8800 url('../img/Everyday_BG_Home_Thursday.jpg') bottom left no-repeat;}
.bg-Friday{background: #0397CF url('../img/Everyday_BG_Home_Friday.jpg') bottom left no-repeat;}
.bg-Saturday{background: #7F3F97 url('../img/Everyday_BG_Home_Saturday.jpg') bottom left no-repeat;}
/* .bg-Sunday{background: #EC1C24;}
.bg-Monday{background: #FFB209;}
.bg-Tuesday{background: #EF528A;}
.bg-Wednesday{background: #008C50;}
.bg-Thursday{background: #FE8800;}
.bg-Friday{background: #0397CF;}
.bg-Saturday{background: #7F3F97;} */
/* background: -webkit-linear-gradient(135deg, #fff 10%, rgba(0, 0, 0, 0) 10%), -webkit-linear-gradient(135deg, #EC1C24 90%, #fff 90%);
background: -o-linear-gradient(135deg, #fff 10%, rgba(0, 0, 0, 0) 10%), -o-linear-gradient(135deg, #EC1C24 90%, #fff 90%);
background: -moz-linear-gradient(135deg, #fff 10%, rgba(0, 0, 0, 0) 10%), -moz-linear-gradient(135deg, #EC1C24 90%, #fff 90%);
background: linear-gradient(135deg, #fff 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #EC1C24 90%, #fff 90%); */
/* .bg-Sunday{
  background: -webkit-linear-gradient(135deg, #EC1C24 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #EC1C24 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #EC1C24 90%, #fff 10%);
  background: linear-gradient(135deg, #EC1C24 90%, #fff 10%);
}
.bg-Monday{
  background: -webkit-linear-gradient(135deg, #FFB209 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #FFB209 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #FFB209 90%, #fff 10%);
  background: linear-gradient(135deg, #FFB209 90%, #fff 10%);
}
.bg-Tuesday{
  ackground: -webkit-linear-gradient(135deg, #EF528A 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #EF528A 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #EF528A 90%, #fff 10%);
  background: linear-gradient(135deg, #EF528A 90%, #fff 10%);
}
.bg-Wednesday{
  background: -webkit-linear-gradient(135deg, #008C50 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #008C50 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #008C50 90%, #fff 10%);
  background: linear-gradient(135deg, #008C50 90%, #fff 10%);
}
.bg-Thursday{
  background: -webkit-linear-gradient(135deg, #FE8800 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #FE8800 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #FE8800 90%, #fff 10%);
  background: linear-gradient(135deg, #FE8800 90%, #fff 10%);
}
.bg-Friday{
  background: -webkit-linear-gradient(135deg, #0397CF 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #0397CF 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #0397CF 90%, #fff 10%);
  background: linear-gradient(135deg, #0397CF 90%, #fff 10%);
}
.bg-Saturday{
  background: -webkit-linear-gradient(135deg, #7F3F97 90%, #fff 10%);
  background: -o-linear-gradient(135deg, #7F3F97 90%, #fff 10%);
  background: -moz-linear-gradient(135deg, #7F3F97 90%, #fff 10%);
  background: linear-gradient(135deg, #7F3F97 90%, #fff 10%);
} */
.file-upload {display: none;}
.sheet-upload {display: none;}
.p-image {position: absolute;bottom: 0;right: 10px;color: #666666;transition: all .3s cubic-bezier(.175, .885, .32, 1.275); display:none;}
.p-image:hover {transition: all .3s cubic-bezier(.175, .885, .32, 1.275);}
.upload-button {font-size: 1.2em;}
.upload-button:hover {transition: all .3s cubic-bezier(.175, .885, .32, 1.275);color: #999;}
/* .questionBox{display:none;}
.Q-btn.back{display:none;} */
.Q-btn{cursor: pointer;}
.search-box-div .status{font-size: 12px;}
.search-box-div .status div{font-size: 12px; text-align: center; width: fit-content; max-width: 100%; padding: 2px 10px; /*height: 18px;*/ border-radius: 10px;}
.search-box-div .status .new{color: #fff; background: #0FC778;}
.search-box-div .status .update{color: #fff; background: #EC1C24;}
.search-box-div .status .comingSoon{color: #fff; background: #3599E8; /*margin: 0 auto;*/}
.textBtmMyeverday{max-height: 65px; width: calc(100% - 10px); max-width: 168px; margin-left: 5px;}
.owl-item .vid-h2{display: none;}
.owlBlur{
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}
.fgtPass{cursor: pointer;}
.newPassword-box{display: none;}
.index-slide .slick-track{margin-left: 0; margin-right: 0;}
.divMemberPayment{min-height: 100px; border: 2px #ccc solid;}
.vid-prev,.vid-next{min-width: 60px;}
#searchMyNote.form-control:focus{color: #e7e7e7;}
.changeMembertype{text-decoration: underline; display: inline;}
.changeMembertype:hover{opacity: 0.7; cursor: pointer;}
.cancelMembertype{text-decoration: underline; display: inline;}
.cancelMembertype:hover{opacity: 0.7; cursor: pointer;}
.changePayType{text-decoration: underline;}
.changePayType:hover{opacity: 0.7; text-decoration: underline;}
.txt-resendOTP{margin-top: 30px;}
.div-remember{float: left; padding: 10px 0;}
.div-forgotPassword{float: right; padding: 10px 0;}
@media(max-width: 1200px){
  .arrow {right: 18px;}
}
@media(max-width: 1120px){
  .arrow {right: 5px;}
}
@media (max-width: 767px) {
  .m-767-hide{display:none;}
  .m-767-show{display:block;}
  .boxResult1{border-top: none !important; border-left: none !important; border-right: none !important;}
  .boxResult2{border-top: none !important; border-right: none !important;}
  .boxResult3{border-left: none !important; border-right: none !important;}
  .boxResult4{border-right: none !important;}
  .membershipActionDiv{margin-bottom: 15px;}
  .membershipAmountHeader{margin: 15px 0;}
  .membershipPayHeader{margin-bottom: 15px;}
  .libraryTitle,.sheet-title { font-size: 18px;}
}
@media (max-width: 650px) {
  .saveChange.membership{margin-top: 10px; width: 100%;}
}
@media (max-width: 575px) {
  .footer-left{display: block ; text-align: center; font-size: 20px; margin: 10px 0;}
  .footer-right{display: block; text-align: center;}
  .myProfile-name {text-align: center;}
  .t-left-575{text-align: left !important;}
  .Level div{font-size: 20px;}
  .Level{padding: 0 20px;}
  .subLevel{padding: 0 20px;}
  .subLevel.subDetail{padding: 0 20px;}
  .subLevel.subSheet{padding: 0 20px;}
  .div-like-btn{display: block;}
  .f-otp{font-size: 14px;}
}
@media (max-width: 480px) {
  .libraryTitle,.sheet-title { font-size: 16px;}
  .m-lib { margin-top: 10px !important; }
  .m-480-hide{display:none;}
  .m-480-show{display:block;}
  .div-remember{float: none;}
  .div-forgotPassword{float: none;}
}
@media (max-width: 430px) {
  .f-otp{font-size: 12px;}
}
@media (max-width: 414px) {
  .mySection.section-5{padding: 50px 20px;}
  .box-800{padding: 60px 20px;}
  .m-400-hide{display:none;}
  .m-400-show{display:block;}
  .addPlanHeadertxt{text-align: center;}
  .addPlanHeaderbtn {float: none;}
  .addPlanPreviousbtn {float: none;}
  .lib-list-headerTxt{display: block;}
  .ex-choice{ width: 32px; height: 32px; font-size: 12px; margin-right: 5px !important;}
  .T-Score-box {margin: 60px 10px;}
  .choices{ width: 32px; height: 32px; font-size: 12px; margin-right: 5px !important;}
  .choiceAnswerSheet{width: 32px; height: 32px; font-size: 12px; margin-right: 5px !important;}
  .signUpStepBtnDiv{padding: 30px 0px;}
  .choice{width: 35px; height: 35px; font-size: 20px;}
  .Q-btn-div{margin: 0;}
  .boxed label {font-size: 20px; width: 35px; height: 35px;}
  .myProfile-form{padding: 50px 30px;}
  .myLog-body{padding: 30px 20px;}
  .myNote-header{padding: 30px 20px;}
}
@media (max-width: 320px) {
  .f-otp{font-size: 11px;}
}

button.btn.btn-incorrect, .btn:not(.close):not(.mfp-close).btn-incorrect, a.btn:not([href]):not([tabindex]).btn-incorrect { background-color: #ff0000; border-color: #ff0000; }
button.btn.btn-incorrect:hover, button.btn.btn-incorrect:focus, button.btn.btn-incorrect:active, button.btn.btn-incorrect.active, .btn:not(.close):not(.mfp-close).btn-incorrect:hover, .btn:not(.close):not(.mfp-close).btn-incorrect:focus, .btn:not(.close):not(.mfp-close).btn-incorrect:active, .btn:not(.close):not(.mfp-close).btn-incorrect.active, a.btn:not([href]):not([tabindex]).btn-incorrect:hover, a.btn:not([href]):not([tabindex]).btn-incorrect:focus, a.btn:not([href]):not([tabindex]).btn-incorrect:active, a.btn:not([href]):not([tabindex]).btn-incorrect.active { background-color: #333333; border-color: #333333; color: #ffffff; }
button.btn.btn-incorrect.btn-outline, .btn:not(.close):not(.mfp-close).btn-incorrect.btn-outline, a.btn:not([href]):not([tabindex]).btn-incorrect.btn-outline { background-color: transparent; color: #212529; border-color: #707070; border-radius: 50px; margin-right: 10px; }
button.btn.btn-incorrect.btn-outline:hover, button.btn.btn-incorrect.btn-outline:focus, button.btn.btn-incorrect.btn-outline:active, button.btn.btn-incorrect.btn-outline.active, .btn:not(.close):not(.mfp-close).btn-incorrect.btn-outline:hover, .btn:not(.close):not(.mfp-close).btn-incorrect.btn-outline:focus, .btn:not(.close):not(.mfp-close).btn-incorrect.btn-outline:active, .btn:not(.close):not(.mfp-close).btn-incorrect.btn-outline.active, a.btn:not([href]):not([tabindex]).btn-incorrect.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-incorrect.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-incorrect.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-incorrect.btn-outline.active { background-color: #ff0000; border-color: #ff0000; color: #ffffff; }

button.btn.btn-correct, .btn:not(.close):not(.mfp-close).btn-correct, a.btn:not([href]):not([tabindex]).btn-correct { background-color: #008C50; border-color: #008C50; }
button.btn.btn-correct:hover, button.btn.btn-correct:focus, button.btn.btn-correct:active, button.btn.btn-correct.active, .btn:not(.close):not(.mfp-close).btn-correct:hover, .btn:not(.close):not(.mfp-close).btn-correct:focus, .btn:not(.close):not(.mfp-close).btn-correct:active, .btn:not(.close):not(.mfp-close).btn-correct.active, a.btn:not([href]):not([tabindex]).btn-correct:hover, a.btn:not([href]):not([tabindex]).btn-correct:focus, a.btn:not([href]):not([tabindex]).btn-correct:active, a.btn:not([href]):not([tabindex]).btn-correct.active { background-color: #333333; border-color: #333333; color: #ffffff; }
button.btn.btn-correct.btn-outline, .btn:not(.close):not(.mfp-close).btn-correct.btn-outline, a.btn:not([href]):not([tabindex]).btn-correct.btn-outline { background-color: transparent; color: #212529; border-color: #707070; border-radius: 50px; margin-right: 10px; }
button.btn.btn-correct.btn-outline:hover, button.btn.btn-correct.btn-outline:focus, button.btn.btn-correct.btn-outline:active, button.btn.btn-correct.btn-outline.active, .btn:not(.close):not(.mfp-close).btn-correct.btn-outline:hover, .btn:not(.close):not(.mfp-close).btn-correct.btn-outline:focus, .btn:not(.close):not(.mfp-close).btn-correct.btn-outline:active, .btn:not(.close):not(.mfp-close).btn-correct.btn-outline.active, a.btn:not([href]):not([tabindex]).btn-correct.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-correct.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-correct.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-correct.btn-outline.active { background-color: #008C50; border-color: #008C50; color: #ffffff; }

button.btn.btn-disabled-choice, .btn:not(.close):not(.mfp-close).btn-disabled-choice, a.btn:not([href]):not([tabindex]).btn-disabled-choice { background-color: #adadad; border-color: #adadad; }
button.btn.btn-disabled-choice:hover, button.btn.btn-disabled-choice:focus, button.btn.btn-disabled-choice:active, button.btn.btn-disabled-choice.active, .btn:not(.close):not(.mfp-close).btn-disabled-choice:hover, .btn:not(.close):not(.mfp-close).btn-disabled-choice:focus, .btn:not(.close):not(.mfp-close).btn-disabled-choice:active, .btn:not(.close):not(.mfp-close).btn-disabled-choice.active, a.btn:not([href]):not([tabindex]).btn-disabled-choice:hover, a.btn:not([href]):not([tabindex]).btn-disabled-choice:focus, a.btn:not([href]):not([tabindex]).btn-disabled-choice:active, a.btn:not([href]):not([tabindex]).btn-disabled-choice.active { background-color: #333333; border-color: #333333; color: #212529; }
button.btn.btn-disabled-choice.btn-outline, .btn:not(.close):not(.mfp-close).btn-disabled-choice.btn-outline, a.btn:not([href]):not([tabindex]).btn-disabled-choice.btn-outline { background-color: transparent; color: #212529; border-color: #707070; border-radius: 50px; margin-right: 10px; }
button.btn.btn-disabled-choice.btn-outline:hover, button.btn.btn-disabled-choice.btn-outline:focus, button.btn.btn-disabled-choice.btn-outline:active, button.btn.btn-disabled-choice.btn-outline.active, .btn:not(.close):not(.mfp-close).btn-disabled-choice.btn-outline:hover, .btn:not(.close):not(.mfp-close).btn-disabled-choice.btn-outline:focus, .btn:not(.close):not(.mfp-close).btn-disabled-choice.btn-outline:active, .btn:not(.close):not(.mfp-close).btn-disabled-choice.btn-outline.active, a.btn:not([href]):not([tabindex]).btn-disabled-choice.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-disabled-choice.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-disabled-choice.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-disabled-choice.btn-outline.active { background-color: #adadad; border-color: #adadad; color: #212529; }

button.btn.btn-answer, .btn:not(.close):not(.mfp-close).btn-answer, a.btn:not([href]):not([tabindex]).btn-answer { background-color: #008C50; border-color: #008C50; }
button.btn.btn-answer:hover, button.btn.btn-answer:focus, button.btn.btn-answer:active, button.btn.btn-answer.active, .btn:not(.close):not(.mfp-close).btn-answer:hover, .btn:not(.close):not(.mfp-close).btn-answer:focus, .btn:not(.close):not(.mfp-close).btn-answer:active, .btn:not(.close):not(.mfp-close).btn-answer.active, a.btn:not([href]):not([tabindex]).btn-answer:hover, a.btn:not([href]):not([tabindex]).btn-answer:focus, a.btn:not([href]):not([tabindex]).btn-answer:active, a.btn:not([href]):not([tabindex]).btn-answer.active { background-color: #333333; border-color: #333333; color: #ffffff; }
button.btn.btn-answer.btn-outline, .btn:not(.close):not(.mfp-close).btn-answer.btn-outline, a.btn:not([href]):not([tabindex]).btn-answer.btn-outline { background-color: transparent; color: #008C50; border-color: #008C50; border-radius: 50px; margin-right: 10px; }
button.btn.btn-answer.btn-outline:hover, button.btn.btn-answer.btn-outline:focus, button.btn.btn-answer.btn-outline:active, button.btn.btn-answer.btn-outline.active, .btn:not(.close):not(.mfp-close).btn-answer.btn-outline:hover, .btn:not(.close):not(.mfp-close).btn-answer.btn-outline:focus, .btn:not(.close):not(.mfp-close).btn-answer.btn-outline:active, .btn:not(.close):not(.mfp-close).btn-answer.btn-outline.active, a.btn:not([href]):not([tabindex]).btn-answer.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-answer.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-answer.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-answer.btn-outline.active { background-color: #008C50; border-color: #008C50; color: #ffffff; }
.swal2-close:focus {
  box-shadow: none !important;
}

.break-line{
  display: block;
}
@media(min-width: 475px){
  .break-line{
    display: none;
  }   
}

.set-full-page {
  min-height: calc(100vh - 280px);
}

.account-header {
  color: #ACACAC;
  font-size: 20px;
  font-weight: 300;
}

.account-name {
  color: #0075D0;
}

.f-confirm-payment {
  color: #ff9d00
}

input[type='checkbox'] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0;
}

input[type='checkbox']:checked:after {
  background: #0FC778;
  content: '\2713';
  color: #fff;
  font-size: 17px;
}

.form-control::placeholder {
  color: #cdcdcd;
}

.text-blue {
  color: #0075D0;
}

textarea {
  resize: none;
}

.payment-sumary {
  font-size: 30px;
}

.mb-70 {
  margin-bottom: 20px
}

@media(min-width: 768px) {
  .mb-70 {
      margin-bottom: 70px
  }
}

.creditcard {
  width: 117px;
}

@media(min-width: 475px) {
  .creditcard {
      width: 130px;
  }
}

.payment-detail .remark {
  color: #ACACAC;
  font-size: 13px;
}

/*Overide SLick next / prev*/
.slick-prev:before
{
    background-image: url('/resources/img/prev.svg')  !important;
}    
.slick-next:before
{
    background-image: url('/resources/img/next.svg') !important;
}
.prev-package, .next-package{
  position: relative;
  height: 32px;    
}
.prev-package small, .next-package small{
  line-height: 1.3;
  width: 100%;
}
.prev-package{
  padding: 0 0 0 30px;
}
.next-package{
  padding: 0 30px 0 0;
}
.prev-package::after, .next-package::after{
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.prev-package::after{
  left: 0;
  background-image: url('/resources/img/prev.svg');
  background-position: right 0;
} 
.next-package::after{
  right: 0;
  background-image: url('/resources/img/next.svg');
}
.tour-info img{width: 20px;}
.dropdown-item.active, .dropdown-item:active {
  background-color: #c2c2c2;
}
.menu-hilight{
  background-image: linear-gradient(to right, #fdc830 , #f37335);
}

